@import "../../styles/variables.scss";

$app_margin: 4px;

/**
 * App main wrapper
 *
 * .isOpen - Open state of app
 *
 */
.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;

  .app {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: $app_margin;
    right: $app_margin;
    padding: 2px 20px;
    overflow-y: auto;
    background: $new-grey-dark-1;
    border-radius: 4px;
    cursor: pointer;
    z-index: 10;
  }

  .info {
    text-align: center;
    color: white;
  }

  h1 {
    font-size: 30px;
    margin: 0 0 10px 0;
  }

  &.isOpen {
    .backdrop {
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .app {
      background-color: rgba(255, 255, 255, 0.9);
      padding-top: 20px;
      padding-bottom: 20px;
      cursor: default;
      z-index: 10;
    }
  }

  .triangle {
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    background: #444;
    border: 0;
    color: white;

    &:focus {
      outline: none;
    }
  }
}