<!DOCTYPE html>
<html>
  <head>
    <meta charSet="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  </head>
  <body>
    <div>
      <div class='js-user-input'>
        <button class="js-calculate">Calcular</button>
      </div>
      <div class="js-result"></div>
    </div>

    <script type="text/template" class="sessions">
      <ul class="js-sessions-with-courses" style="list-style: none;padding: 0;margin: 0 0 20px 0;width: 500px;">
        <% _.each(context.sessions, function(session) { %>
          <li data-id="<%- session.id %>" style="clear:both;margin: 0 0 10px 0;">
            <div style="float: right;">
              <small><%- session.creationTime.format('YYYY-MM-DD') %></small>
              <select >
                <option value="no">Elige curso</option>
                <% _.each(context.courses, function(course) { %>
                  <option value="<%- course %>"><%- course %></option>
                <% }); %>
              </select>
            </div>
            <%- session.name %> - ID: <%- session.id %>
          </li>
        <% }); %>
      </ul>
      <button class="js-calculate-with-course">Calcular</button>
    </script>
    <script src="../vendor/jquery.js"></script>
    <script src="../vendor/underscore.js"></script>
    <script src="../vendor/moment.js"></script>
    <script src="index.js"></script>
  </body>
</html>
